<div class="mat-dialog-container">
  <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle</mat-icon>
  <br>
  <br>
  <h2>Activate your account</h2>
  <br>
  <h4>We have sent you an email.Please check your inbox and click on the verification link</h4>
  <br>
  <p>You have not received the email? Check spam folder</p>
  <br>
  <button mat-flat-button color="#1181C3">Send Email again</button>
  <br>
  <br>
  <button mat-stroked-button color="#1181C3">Verify Later</button>

</div>
