.example-header-image {
  background-image: url('../../../../assets/avatar/avatar.png');
  background-size: cover;
}
mat-card-header {
  display: block;
  text-align: center;
}
.example-header-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
mat-card-title {
  float: left;
  margin-left: -16px;
  font-family: Roboto-Regular;
}
span {
  margin: 0 5px 0 8px;
}
h4, h5 {
  margin: 6px 10px 0 10px;
  color: gray;
}
.button-group>.follow {
  background: white;
  color: #1181C3;
  border: 1px solid #1181C3!important;
  height: 34px;
  margin-top: 8px;
}
.close {
  background: white;
  margin-top: 8px;
  padding: 0;
  width: 34px;
  height: 34px;
}
a {
  color: #1181C3;
}
mat-card-footer {
  margin: 0;
}
mat-card-content {
  display: flex;
}
mat-card-content>img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.button-group>.fa {
  margin-left: 10px;
}
@media (min-width: 1200px) {
  .truncate {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name {
    width: 164px;
  }
}
@media (max-width: 1200px) {
  .truncate {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name {
    width: 100px;
  }
}
@media (max-width: 999px) {
  .truncate {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .name {
    width: 90px;
  }
}
