<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Last Reviews</mat-card-title>
    <br>
  </mat-card-header>
  <br><br>
  <mat-card-content style="justify-content: space-between">
    <div class="name" style="display: flex">
      <img class="example-header-image" src="../../../../assets/avatar/user5-128x128.jpg" alt="">
      <div class="truncate">
        <h4>Doyonia Wanlenzina</h4>
        <h5>Model of USA</h5>
      </div>
    </div>
    <div class="button-group">
      <button mat-button class="follow">follow</button>
      <i class="fa fa-close"></i>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <p><a> View Last Reviews</a></p>
  </mat-card-actions>
</mat-card>
