<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Recommendation</mat-card-title>
    <br>
  </mat-card-header>
  <br><br>
  <mat-card-content>
    <div style="display: flex;">
      <span class="image">
        <div mat-card-avatar class="example-header-image"></div>
      </span>
      <span>
        <h4 class="name">Ruby Alexandra</h4>
        <h4 class="time">Model of USA</h4>
      </span>
      <button class="follow" mat-button color="#1181C3">follow</button>
      <button class="close" mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon>close</mat-icon>
      </button>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <p><a> View All Recommendations</a></p>
  </mat-card-actions>
</mat-card>
