<mat-card>
  <mat-card-content>
    <!--<mat-accordion>-->
      <!--body feature-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Body Features
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <span>age</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>
        <br>
        <div>
          <span>Height</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>
        <br>
        <div>
          <span>Weight</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>
        <br>
        <div>
          <span>Chest</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>
        <br>
        <div>
          <span>Waist</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>
        <br>
        <div>
          <span>Hip</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>
        <br>
        <div>
          <span>Shoes  <br> (F)</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>
        <br>
        <div>
          <span>Shoes <br> (F)</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>
        <br>
        <div>
          <span>Dress</span>
          <span class="range_slider">
            <ng5-slider
              [value]="0"
              [highValue]="100"
              [options]="{
              floor: 0,
              ceil: 100,
              hideLimitLabels: true,
              hidePointerLabels: true}"
            ></ng5-slider>
          </span>
        </div>

      </mat-expansion-panel>

      <!--special requirement-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Special Requirement
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>W.Agency/Manager</mat-checkbox>
        <br>
        <mat-checkbox>W/o Agency/Manager</mat-checkbox>
        <br>
        <mat-checkbox>Video</mat-checkbox>
        <br>
        <mat-checkbox>No Video</mat-checkbox>
        <br>
        <mat-checkbox>Has Passport</mat-checkbox>
        <br>
        <mat-checkbox>Willing to travel</mat-checkbox>
        <br>
        <mat-checkbox>Unwilling to travel</mat-checkbox>
        <br>
        <mat-checkbox>Looking for rep.</mat-checkbox>
        <br>
        <mat-checkbox>Not looking for rep.</mat-checkbox>
        <br>
      </mat-expansion-panel>

      <!--interest-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Interests
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Acting</mat-checkbox>
        <br>
        <mat-checkbox>Digital Media</mat-checkbox>
        <br>
        <mat-checkbox>Host</mat-checkbox>
        <br>
        <mat-checkbox>Magazines</mat-checkbox>
        <br>
        <mat-checkbox>Music Videos</mat-checkbox>
        <br>
        <mat-checkbox>Runway</mat-checkbox>
        <br>
        <mat-checkbox>Swimsuit</mat-checkbox>
        <br>
        <mat-checkbox>TV</mat-checkbox>
        <br>
        <mat-checkbox>Underwear</mat-checkbox>
        <br>
      </mat-expansion-panel>

      <!--eye color-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Eye color
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Black</mat-checkbox>
        <br>
        <mat-checkbox>Blue</mat-checkbox>
        <br>
        <mat-checkbox>Brown</mat-checkbox>
        <br>
        <mat-checkbox>Green</mat-checkbox>
        <br>
        <mat-checkbox>Grey</mat-checkbox>
        <br>
        <mat-checkbox>Honey</mat-checkbox>
        <br>
      </mat-expansion-panel>

      <!--ethnicity-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Ethnicity
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Caucasian</mat-checkbox>
        <br>
        <mat-checkbox>Hispanic</mat-checkbox>
        <br>
        <mat-checkbox>Afro-American</mat-checkbox>
        <br>
        <mat-checkbox>Afro-Asian</mat-checkbox>
        <br>
        <mat-checkbox>Aboriginal</mat-checkbox>
        <br>
        <mat-checkbox>Eastern European</mat-checkbox>
        <br>
        <mat-checkbox>African</mat-checkbox>
        <br>
        <mat-checkbox>Indian</mat-checkbox>
        <br>
        <mat-checkbox>Middle Eastern</mat-checkbox>
        <br>
        <mat-checkbox>Native American</mat-checkbox>
        <br>
        <mat-checkbox>Polynesian</mat-checkbox>
        <br>
        <mat-checkbox>Other</mat-checkbox>
        <br>
      </mat-expansion-panel>

      <!--hair color-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hair Color
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Black</mat-checkbox>
        <br>
        <mat-checkbox>Blond</mat-checkbox>
        <br>
        <mat-checkbox>Chesnut</mat-checkbox>
        <br>
        <mat-checkbox>Dark Blond</mat-checkbox>
        <br>
        <mat-checkbox>Dark Chesnut</mat-checkbox>
        <br>
        <mat-checkbox>Grey/White</mat-checkbox>
        <br>
        <mat-checkbox>Light Blond</mat-checkbox>
        <br>
        <mat-checkbox>Light Chesnut</mat-checkbox>
        <br>
        <mat-checkbox>Mathogany</mat-checkbox>
        <br>
        <mat-checkbox>Red</mat-checkbox>
        <br>
      </mat-expansion-panel>

      <!--hair length-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hair Length
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Bald</mat-checkbox>
        <br>
        <mat-checkbox>Long</mat-checkbox>
        <br>
        <mat-checkbox>Medium</mat-checkbox>
        <br>
        <mat-checkbox>Short</mat-checkbox>
        <br>
      </mat-expansion-panel>

      <!--hair texture-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hair Texture
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Curly</mat-checkbox>
        <br>
        <mat-checkbox>Smooth</mat-checkbox>
        <br>
        <mat-checkbox>Short</mat-checkbox>
        <br>
      </mat-expansion-panel>

      <!--special features-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Special Features
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Albino</mat-checkbox>
        <br>
        <mat-checkbox>Androgynous</mat-checkbox>
        <br>
        <mat-checkbox>Body Modification</mat-checkbox>
        <br>
        <mat-checkbox>Ink Models</mat-checkbox>
        <br>
        <mat-checkbox>Physical Disability</mat-checkbox>
        <br>
        <mat-checkbox>Vitiligo</mat-checkbox>
        <br>
      </mat-expansion-panel>
    <!--</mat-accordion>-->
  </mat-card-content>
  <br>
  <mat-card-actions>
    <button mat-button id="feature_search" (click)="contextual_search()">Search</button>
    <br><br>
    <button mat-button id="clear" style="border: none!important;">Clear</button>
  </mat-card-actions>
</mat-card>
