.example-header-image {
  background-image: url('../../../../assets/avatar/avatar.jpg');
  background-size: cover;
  width: 60px;
  height: 60px;
}
mat-card-title {
  font-family: Roboto-Regular;
  font-size: 12px;
}
.info {
  float: right;
}
.ellipsis {
  font-size: 22px;
  color: gray;
}
.comment>span {
  color: #1181C3;
  cursor: pointer;
}
.agree .fa {
  font-size: 22px;
  margin: 0 10px 0 10px;
  color: gray;
}
.bookmark .fa {
  font-size: 22px;
  margin: 0 10px 0 10px
}
mat-card-content {
  margin-bottom: 0;
}
img {
  margin-bottom: 0;
}
.comments {
  display: flex;
  width: 96%;
  margin: auto;
  padding-bottom: 20px;
}
.avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
a {
  color: #1181C3;
  cursor: pointer;
}
.fa-thumbs-up {
  color: #1181C3;
}
.avatar {
  margin-right: 10px;
}
.truncate p {
  margin: 0;
}
.sub_comments {
  display: flex;
}
.reply {
  width: 96%;
  margin: auto;
  display: flex;
}
.reply>img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 20px;
}
.reply>mat-form-field {
  width: 100%;
  margin: auto;
}
.truncate {
  width: 100%;
}
.comment_reply {
  display: flex;
  width: 88%;
  margin: auto;
}
.mat-button {
  border: none!important;
}
mat-form-field {
  width: 100%;
}
.comment_reply img {
  width: 30px;
  height: 30px;
  margin: 19px 12px 0 0;
  border-radius: 50%;
}
.truncate>p {
  cursor: pointer;
}
truncate span {
  color: #000;
}
.custom-tooltip {
  background: #000000;
  color: white;
}
.repository>span {
  color: #1181C3;
}
.mat-dialog-container {
  margin: 0!important;
}
.app-full-bleed-dialog .mat-dialog-container {
  padding: 0!important;
  margin: 0!important;
  overflow-y: -moz-scrollbars-none;
}
