<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" id="owner_image"></div>
    <mat-form-field class="example-full-width">
      <mat-label>Write something</mat-label>
      <input matInput placeholder="Ex. Pizza">
    </mat-form-field>
  </mat-card-header>
  <br>
  <hr>
  <mat-card-content>
    <div class="photo_upload">
      <button type="button" >
        <i class="fa fa fa-camera fa-lg"></i>
        <span>photo/video</span>
      </button>
      <span id="post"><button mat-raised-button>post</button></span>
    </div>
  </mat-card-content>
</mat-card>

<br>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" style="width: 60px; height: 60px;"></div>
    <div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <mat-card-subtitle>2020/04/11/03/20/P.M</mat-card-subtitle>
    </div>
    <div class="ellipsis" style="text-align: right; width: 100%;">
      <i class="fa fa-ellipsis-h fa-8x"></i>
    </div>
  </mat-card-header>
  <p class="repository">Repository <span>#sharp</span> Repository <span>#sharp</span></p>
  <img class="main-image" mat-card-image src="../../../../assets/img/will_adver.jpg" alt="Photo of a Shiba Inu" (click)="article_post()">
  <mat-card-content>
    <p>
      <button mat-button (click)="likes_modal()">3 LIKES</button>
      <button mat-button>20 COMMENTS</button>
    </p>
  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: space-between">
    <div class="agree">
      <i class="fa fa-thumbs-up" style="color: #1181C3;"></i>
      <i class="fa fa-comment-o"></i>
      <i class="fa fa-share"></i>
    </div>
    <div class="bookmark"><i class="fa fa-bookmark" style="color: #1181C3!important;"></i></div>
  </mat-card-actions>
  <hr>
  <h4><a>View Previews Comments</a></h4>
  <br>
  <mat-card-footer>
    <div class="comments">
      <div class="avatar">
        <img src="../../../../assets/avatar/user8-128x128.jpg" alt="">
      </div>
      <div class="truncate">
        <p>
          <span [mdePopoverTriggerFor]="appPopover"
                mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">Arshly Pearson</span>
          | I love your style
        </p>
        <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 350px; width: 250px">
            <mat-card-content>
              <div class="comments">
                <div class="avatar">
                  <img src="../../../../assets/avatar/user8-128x128.jpg" alt="">
                </div>
                <div class="truncate" >
                  <p>
                    <span>Arshly Pearson</span> <br> <span>Model</span>
                  </p>
                  <p class="sub_comments_flag">
                    <img src="https://www.countryflags.io/ve/flat/64.png">
                    &nbsp;
                    <span>Venezuela</span>
                  </p>
                  <br>
                  <button mat-button>connect</button>
                  <button mat-button id="follow_button">follow</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mde-popover>
        <p class="comment"><i class="fa fa-thumbs-up"></i> &nbsp; 3 &nbsp;
          <span (click)="onValChange()" aria-hidden="false">Comments</span>
        </p>
        <div *ngIf="status === true" class="comment_reply">
          <img src="../../../../assets/avatar/avatar.jpg" alt="">
          <mat-form-field class="example-full-width">
            <mat-label>Comments</mat-label>
            <input matInput placeholder="Ex. Pizza">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="avatar">
        <img src="../../../../assets/avatar/user4-128x128.jpg" alt="">
      </div>
      <div class="truncate">
        <p>
          <span [mdePopoverTriggerFor]="appPopover_message"
                mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">Albanea Zenkin</span>
          | Send me message
        </p>
        <mde-popover #appPopover_message="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 350px; width: 250px">
            <mat-card-content>
              <div class="comments">
                <div class="avatar">
                  <img src="../../../../assets/avatar/user4-128x128.jpg" alt="">
                </div>
                <div class="truncate">
                  <p>
                    <span>Albanea Zenkin</span> <br> <span>Model</span>
                  </p>
                  <p class="sub_comments_flag">
                    <img src="https://www.countryflags.io/ve/flat/64.png">
                    &nbsp;
                    <span>Venezuela</span>
                  </p>
                  <br>
                  <button mat-button (click)="send_message()">Message</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mde-popover>
        <p class="comment"><i class="fa fa-thumbs-up"></i>&nbsp; 3 &nbsp;
          <span (click)="onValChange()" aria-hidden="false">Comments</span>
        </p>
        <div *ngIf="status === true" class="comment_reply">
          <img src="../../../../assets/avatar/avatar.jpg" alt="">
          <mat-form-field class="example-full-width">
            <mat-label>Comments</mat-label>
            <input matInput placeholder="Ex. Pizza">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="comments">
      <div class="avatar">
        <img src="../../../../assets/avatar/user6-128x128.jpg" alt="">
      </div>
      <div class="truncate" >
        <p [mdePopoverTriggerFor]="appPopover_other"
           mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">Andra ShenCo | You are amazing</p>
        <mde-popover #appPopover_other="mdePopover" [mdePopoverOverlapTrigger]="false">
          <mat-card style="max-width: 350px; width: 250px">
            <mat-card-content>
              <div class="comments" style="padding-bottom: 0">
                <div class="avatar">
                  <img src="../../../../assets/avatar/user8-128x128.jpg" alt="">
                </div>
                <div class="truncate">
                  <p>
                    <span>Arshly Pearson</span> <br> <span>Model</span>
                  </p>
                  <p class="sub_comments_flag">
                    <img src="https://www.countryflags.io/ve/flat/64.png">
                    &nbsp;
                    <span>Venezuela</span>
                  </p>
                  <br>
                  <button mat-button (click)="send_invitation()">connect</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mde-popover>
        <p><i class="fa fa-thumbs-up"></i>&nbsp; 2 &nbsp;<a >Comments</a></p>
        <div class="sub_comments">
          <div class="avatar">
            <img src="../../../../assets/avatar/user2-160x160.jpg" alt="">
          </div>
          <div class="sub-comment">
            <p>&nbsp;</p>
            <p>Rudy Alexandra | You are amazing</p>
          </div>
        </div>
      </div>
    </div>

    <div class="reply">
      <img src="../../../../assets/avatar/avatar.jpg" alt="">
      <mat-form-field class="example-full-width">
        <mat-label>Reply</mat-label>
        <input matInput placeholder="Ex. Pizza">
      </mat-form-field>
    </div>
  </mat-card-footer>
</mat-card>
