.contextual_search_main {
  width: 75%;
  margin: 0 10px 0 0;
}
.contextual_search_advertise {
  width: 25%;
  margin: 0 10px 0 10px
}
.contextual_nav {
  background: white;
  margin-top: -13px;
}
.tab_nav{
  display: inline-flex;
}
.tab_nav div {
  width: 160px;
  text-align: center;
}
.tab_nav div.active {
  border-bottom: 3px solid #1181C3;
}
.row {
  margin: 0!important;
}

.contact_us {
  text-align: center;
}
