.example-card {
  max-width: 100%;
}

.example-header-image {
  background-image: url('../../../../assets/avatar/avatar.jpg');
  background-size: cover;
}
mat-card-title {
  float: left;
  width: 100%;
  margin-left: -16px;
  font-family: Roboto;
}
mat-card-header>div {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
mat-card-header {
  display: flow-root;
}
mat-card-actions {
  width: 96%;
  margin: auto;
}
.image>img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
h4 {
  margin: 8px 10px 0 10px;
  color: gray;
}
mat-card-footer {
  margin: 0;
}
a {
  color: #1181C3;
}
