<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Stories</mat-card-title>
  </mat-card-header>
  <hr>
  <mat-card-content>
    <mat-card-actions>
      <div *ngFor="let item of ELEMENT_DATA" style="display: flex">
          <span class="image story_image" >
            <img src="../../../../assets/avatar/{{item.photo}}" alt="">
          </span>
          <span class="story_name" style="margin-top: 15px">
            <h3 class="name">{{item.name}}</h3>
            <h4 class="time">{{item.date}}</h4>
          </span>
      </div>
    </mat-card-actions>
  </mat-card-content>
  <mat-card-footer>
    <p><a>View All</a></p>
  </mat-card-footer>
</mat-card>
