<div style="display: flex; margin-top: -4px">
  <div class="post_image" style="margin-top: 4px">
    <img src="../../../../../assets/img/will_adver.jpg" alt="" style="width: 100%;height: 800px; border-radius: 4px ;object-fit: cover;">
  </div>
  <div class="post_article">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="width: 60px; height: 60px;"></div>
        <div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-subtitle>2020/04/11/03/20/P.M</mat-card-subtitle>
        </div>
        <div class="ellipsis" style="text-align: right; width: 100%;">
          <i class="fa fa-ellipsis-h fa-8x"></i>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>
          Hey, Are you there? How are you?. I am Alexandra.
        </p>
        <p id="show_more">
          <span>show more</span><span id="show_more_icon"> <i class="fa fa-angle-right"></i></span>
        </p>
        <br><br>
        <p>
          <button mat-flat-button>3 LIKES</button>
          <button mat-button>20 COMMENTS</button>
        </p>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-between">
        <div class="agree">
          <i class="fa fa-thumbs-o-up"></i>
          <i class="fa fa-comment-o"></i>
          <i class="fa fa-share"></i>
        </div>
        <div class="bookmark"><i class="fa fa-bookmark" style="color: #1181C3!important;"></i></div>
      </mat-card-actions>
      <h4><a>View Previews Comments</a></h4>
      <mat-card-footer>
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user8-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user5-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user8-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user5-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user8-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user5-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user8-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user5-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user8-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
            </div>
          </div>
          <div class="comments">
            <div class="avatar">
              <img src="../../../../../assets/avatar/user5-128x128.jpg" alt="">
            </div>
            <div class="truncate">
              <p>
                <span>Arshly Pearson</span>
                | I love your style
              </p>
              <p class="comment"><i class="fa fa-thumbs-o-up"></i>3 &nbsp;
                <span  aria-hidden="false">Comments</span>
              </p>
              <div class="sub_comments">
                <div class="avatar">
                  <img src="../../../../../assets/avatar/user2-160x160.jpg" alt="">
                </div>
                <div class="sub-comment">
                  <p>&nbsp;</p>
                  <p>Rudy Alexandra | You are amazing</p>
                </div>
              </div>
            </div>
          </div>
          <div class="reply">
            <img src="../../../../../assets/avatar/avatar.jpg" alt="">
            <mat-form-field class="example-full-width">
              <mat-label>Reply</mat-label>
              <input matInput placeholder="Ex. Pizza">
            </mat-form-field><button mat-button style="border: 1px solid #1181C3!important;">post</button>
          </div>
        </cdk-virtual-scroll-viewport>


      </mat-card-footer>
    </mat-card>

  </div>
</div>
