<h4>Connection request</h4>
<hr>
<div class="comments">
  <div class="invitation_image">
    <img src="../../../../../assets/avatar/user8-128x128.jpg" alt="">
  </div>
  <div class="invite_comment">
    <h3>
      <span>Arshly Pearson</span>
    </h3>
    <p style="color: darkgray"> &nbsp;
      <span>Model - Singer </span>
    </p>
    <p>
      <img src="https://www.countryflags.io/ve/flat/64.png">
      &nbsp;
      <span>Venezuela</span>
    </p>
  </div>
</div>
<br>
<p>If you want to add a note push the box</p>
<mat-form-field class="example-full-width">
  <mat-label>Leave a comment</mat-label>
  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field><br><br>
<p>This profiel will receive your request and you will have to wait for the confirmation</p>
<hr>
<div class="button-group">
  <button mat-button id="reset">Cancel</button>
  <button mat-button id="submit">Send</button>
</div>

