<div id="landing">
  <div id="landing_toolbar" role="banner">
    <div class="container" style="display: inline-block;">
      <img src="../../assets/img/black_logo.png" alt="">
      <div id="toolbox">
        <ul class="navigation-items">
          <li>
            <a><span>Explorer</span></a>
          </li>
          <li>
            <a><span id="login">Login</span>
            </a>
          </li>
          <li>
            <a>
              <span>
                <select #selectedLang (change)="switchLang(selectedLang.value)">
                  <option *ngFor="let language of translate.getLangs()"
                    [value]="language" [selected]="language === translate.currentLang"
                  >
                    {{language}}
                  </option>
                </select>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <div id="logo_title">
      <h1>You're a click away to be hired in <span>Dinbog.</span></h1>
      <ul>
        <li><span>Centralize, manage and optimize your company castings</span></li>
        <li><span>The easiest way to expand and optimize your talents search</span></li>
        <li><span>By uploading your book or portfolio, possibilities to be hired highly improve</span> </li>
      </ul>
    </div>
    <div id="logo_button">
      <div style="text-align: center"><h2>Join <span>Dinbog</span></h2></div>
      <div style="display: flex; justify-content: space-between; width: 60%; margin: auto">
        <div style="text-align: center">
          <div  id="talent"></div>
          <br>
          <button mat-button id="talent_button" (click)="sign_up()">Talent</button>
        </div>
        <div style="text-align: center">
          <div  id="company"></div>
          <br>
          <button mat-button id="company_button">Company</button>
        </div>
      </div>
    </div>
  </div>
</div>
