<h3>Support</h3>
<hr>
<p>Select an option: </p>
<div class="selects">
  <div class="left">
    <mat-checkbox>I want to change my email address</mat-checkbox>
    <br>
    <mat-checkbox>Help my account</mat-checkbox>
    <br>
    <mat-checkbox>Why does my profile picture change?</mat-checkbox>
    <br>
  </div>
  <div class="right">
    <mat-checkbox>I wish to eliminate my dinbog profile</mat-checkbox>
    <br>
    <mat-checkbox>Help my casting</mat-checkbox>
    <br>
    <mat-checkbox>Other</mat-checkbox>
    <br>
  </div>
</div>
<br>
<p>Describe your reasons</p>
<mat-form-field class="example-full-width">
  <mat-label>Leave a comment</mat-label>
  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
</mat-form-field>
<br>
<div class="button-group">
  <button mat-button id="reset">Cancel</button>
  <button mat-button id="submit">Send</button>
</div>

