<div class="form_group">
  <br>
  <br>
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <app-first-step></app-first-step>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <app-second-step></app-second-step>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <app-third-step></app-third-step>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup">
      <app-forth-step></app-forth-step>
    </mat-step>
    <mat-step>
      <app-fifth-step></app-fifth-step>
    </mat-step>
  </mat-horizontal-stepper>
</div>
