<div class="form_group">
    <div id="image">
      <img src="../../../assets/img/logo.svg" alt="">
    </div>

  <br>
  <mat-horizontal-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <h3>Personal Information</h3>

        <div id="dropzone">
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>
              <br> Click Here</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>

          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </div>
        <br>

        <div id="birthday">
          <span id="birthday_name">Birthday</span>
          <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select formControlName="year" name="year">
              <mat-option *ngFor="let year of years" [value]="year.value">
                {{year.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Month</mat-label>
              <mat-select formControlName="month" name="month">
                  <mat-option *ngFor="let month of months" [value]="month.value">
                  {{month.viewValue}}
                  </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Day</mat-label>
            <mat-select formControlName="day" name="day">
              <mat-option *ngFor="let day of days" [value]="day.value">
                {{day.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>

        <div id="gender">
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select >
              <mat-option value="1">Man</mat-option>
              <mat-option value="2">Woman</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>

        <div id="slide">
          <span>Agency or Manager</span>
          <mat-slide-toggle></mat-slide-toggle>
        </div>
        <br>
        <br>
        <div id="homeTown">
          <span>Where are you from?</span><br>
          <mat-form-field>
            <mat-label>Select Country</mat-label>
            <mat-select >
              <mat-option value="1">Venezuela</mat-option>
              <mat-option value="2">Serbia</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Select City</mat-label>
            <mat-select >
              <mat-option value="1">Caracas</mat-option>
              <mat-option value="2">Belgrade</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>

        <div id="Address">
          <span>Where do you live?</span><br>
          <mat-form-field>
            <mat-label>Select Country</mat-label>
            <mat-select >
              <mat-option value="1">Venezuela</mat-option>
              <mat-option value="2">Serbia</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Select City</mat-label>
            <mat-select >
              <mat-option value="1">Caracas</mat-option>
              <mat-option value="2">Belgrade</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="+12 " value="">
          </mat-form-field>
        </div>

        <br>
        <div style="text-align: center">
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <h3>Your First Book</h3>
        <p>Upload your book with 3 photos or more</p>
        <br>
        <div id="dropzone-4">
          <div>
            <span>
              <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>
                <br> Click Here</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            </span>
            <span>
              <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>
                <br> Click Here</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            </span>
            <span>
              <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>
                <br> Click Here</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            </span>
            <span>
              <ngx-dropzone (change)="onSelect($event)">
              <ngx-dropzone-label><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>
                <br> Click Here</ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
            </span>
          </div>
        </div>
        <br>
        <br>

        <div id="Talent">
          <mat-form-field>
            <mat-label>Talent Category</mat-label>
            <mat-select >
              <mat-option value="1">Venezuela</mat-option>
              <mat-option value="2">Serbia</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Name of Book</mat-label>
            <mat-select >
              <mat-option value="1">Caracas</mat-option>
              <mat-option value="2">Belgrade</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>
        </div>
        <br>
        <div id="checkbox">
          <mat-checkbox>Privacy</mat-checkbox>
          <p>This content will be only visible by your friends</p>
        </div>

        <br>
        <br>
        <div style="text-align: center">
          <a>Skip</a>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <h3>Your First Video</h3>
        <br>
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Video URL">
            <br><br>
            <div id="Video_Upload_URL">
              <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description"></textarea>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <mat-label>Video URL</mat-label>
                <input matInput placeholder="Video URL">
              </mat-form-field>
            </div>
          </mat-tab>
          <mat-tab disabled></mat-tab>
          <mat-tab label="Upload Video">
            <br>
            <br>
            <div id="Video_Upload">
              <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>
                  <br> Click Here</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>

              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
            <br>
          </mat-tab>
        </mat-tab-group>
        <div id="checkbox_video">
          <div>
            <img src="../../../assets/img/youtube.png" alt="">
            <img src="../../../assets/img/video.png">
          </div>
          <br>
          <mat-checkbox>Privacy</mat-checkbox>
          <p>This content will be only visible by your friends</p>
        </div>
        <br>
        <div style="text-align: center">
          <a>Skip</a>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup">
      <form [formGroup]="forthFormGroup">
        <h3>Your First Work</h3>

        <br><br>
        <div id="work">
          <mat-form-field class="example-full-width">
            <mat-label>Work Type</mat-label>
            <input matInput placeholder="Work Type">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>2020</mat-label>
            <input matInput placeholder="2020">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Client</mat-label>
            <input matInput placeholder="Client">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>
        </div>
        <br><br>
        <div style="text-align: center">
          <a>Skip</a>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <h3>Your First Music Album </h3><br>
      <div id="Album_Upload">
        <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>
            <br> Upload Album Cover</ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
      <br>
      <div id="Album">
        <mat-form-field class="example-full-width">
          <mat-label>Album Name</mat-label>
          <input matInput placeholder="Album Name">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
      </div>
      <br>
      <h3>Add Tracks</h3>
      <br>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-drawer-container class="example-container">
            <mat-drawer mode="side" opened>
              <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label><mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon>
                  <br> Upload Cover</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </mat-drawer>
            <mat-drawer-content>
              <mat-form-field class="example-full-width">
                <mat-label>Track Name</mat-label>
                <input matInput placeholder="Track Name">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                <mat-label>Auth</mat-label>
                <textarea matInput placeholder="Auth"></textarea>
              </mat-form-field>
            </mat-drawer-content>
          </mat-drawer-container>
        </mat-card-header>
        <br>
        <button mat-button>Uploads your track</button>
        <br>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <br>
      <div id="add_track">
        <a href="">+ Add Another Track</a><br>
      </div>
      <br><br>
      <div style="text-align: center">
        <a>Skip</a>
        <button mat-raised-button color="#1181C3" (click)="talent_Success()">Next Step</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
