#image {
  text-align: center;
}
#image>img {
  height: 78px!important;
}
mat-step-header {
  padding: 5px!important;
}
.mat-step-icon {
  height: 61px!important;
  width: 61px!important;
}
p, h1,h2,h3,h4,h5,h6 {
  font-family: Roboto!important;
}
.mat-horizontal-stepper-header-container {
  width: 80%;
  margin: auto;
}
img {
  height: 59px;
  margin-top: 20px;
}
.mat-form-field {
  margin-top: 16px;
}

button {
  margin-left: 20px;
  margin-right: 20px;
}
.form_group {
  width: 80%;
  margin: auto;
  text-align: center;
}
h2 {
  color: #1181C3;
}

button {
  color: white;
  background: #1181C3;
  padding: 0 40px 0 40px;
}

#dropzone {
  text-align: center;
  width : 174px;
  margin: auto;
  border-radius: 50%;
}
#dropzone img {
  border-radius: 50%;
  margin: 0!important;
  height: 140px;
}
#dropzone>ngx-dropzone {
}
#dropzone>ngx-dropzone {
  border: none!important;
}
.face_all {
  text-align: center;
  width : 174px;
  margin: auto;
}
.face_all>ngx-dropzone {
  border: none!important;
}

.face_all img {
  margin: 0!important;
  height: 140px;
}
.face_all>ngx-dropzone {
}
#checkbox_video p {
  color: gray;
  margin-left: 20px;
}
#birthday_name {
  margin-right: 20px;
  font-size: 18px;
  color: #1181C3;
}
mat-form-field {
  margin: 0 16px 0 16px;
}

#slide> span{
  font-size: 18px;
  color: #1181C3;
  margin-right: 18%;
}
#slide > mat-slide-toggle {
  margin-left: 18%;
}

#gender>mat-form-field {
  width: 48%;
}
#category>mat-form-field {
  width: 48%;
}

#homeTown>mat-form-field {
  width: 48%;
}
#category button {
  border-radius: 20px 20px 20px 20px;
}

#homeTown>span {
  width: 62%;
  font-size: 18px;
  color: #1181C3;
  float: left;
}

#Address>mat-form-field {
  width: 48%;
}

#Address>span {
  width: 62%;
  font-size: 18px;
  color: #1181C3;
  float: left;
}

#dropzone-4>div>span>ngx-dropzone {
  width: 250px;
  display: inline-block;

}
#Talent>mat-form-field {
  width: 48%;
}

#Talent>span {
  width: 62%;
  font-size: 18px;
  color: #1181C3;
  float: left;
}
#checkbox {
  width: 57%;
}
#checkbox p {
  width: 140%;
}

a {
  color: #1181C3;
  cursor: pointer;
}

#Video_Upload_URL>mat-form-field {
  width: 92%;
}
.next_step_button {
  background: #1181C3!important;
  color: #ffffff!important;
  margin: 0 20px 0 20px!important;
}


#Video_Upload_URL>span {
  width: 100%;
  font-size: 18px;
  color: #1181C3;
  float: left;
}

.mat-tab-label-content {
  color: #1181C3;
}
mat-tab-group {
  width: 40%;
  margin: auto;
}
div>img {
  margin-right: 20px;
  height: 35px;
}
#checkbox_video
{
  width: 70%;
}

#checkbox_video p {
  width: 120%;
}

#work>mat-form-field {
  width: 60%;
}

#work>span {
  width: 60%;
  font-size: 18px;
  color: #1181C3;
  float: left;
}

#Album_Upload {
  width: 250px;
  text-align: center;
  margin: auto;
}
#mini_upload_image {
  width: 175px!important;
}
mat-icon {
  color: #1181C3;
  font-size: 40px;
}
#Album>mat-form-field {
  width: 60%;
}

#Album>span {
  width: 60%;
  font-size: 18px;
  color: blue;
  float: left;
}

.example-card {
  width: 60%;
  margin: auto;
}
mat-step mat-card {
  box-shadow: -1px -1px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 6px 3px 1px rgba(0, 0, 0, 0.12) !important;
}
.example-container {
  width: 100%;
  margin: 10px;
  border: none;
}
ngx-dropzone {
  height: 170px!important;
}
mat-drawer-container {
  background: white;
}
mat-drawer-content>mat-form-field {
  width: 83%;
}
mat-card-content {
  width: 100%;
  margin-right: 20px;
}
mat-card-content>mat-form-field {
  width: 100%;
  margin: auto;
}
mat-card-content textarea {
  height: 66px;
}
#add_track {
  width: 49%;
  float: left;
  margin: auto;
}
