<div id="profile_info">
  <br>
  <mat-card>
    <div>
      <span>80%</span>
      <span class="progress_side"><mat-progress-bar mode="determinate" value="80"></mat-progress-bar></span>
    </div>
    <br>
    <div>
      <span><mat-checkbox></mat-checkbox></span>
      <span class="progress_side">I Need Help</span>
    </div>
    <br>
    <div>
      <span class="progress_circle">1</span>
      <span class="progress_side">Profile data</span>
    </div>
    <br>
    <div>
      <span class="progress_circle">2</span>
      <span class="progress_side">Upload Posts</span>
    </div>
    <br>
    <div>
      <span class="progress_circle">3</span>
      <span class="progress_side">Upload a Book</span>
    </div>
    <br>
    <div>
      <span class="progress_circle">4</span>
      <span class="progress_side">Upload Video</span>
    </div>
    <br>
    <div>
      <span class="progress_circle">5</span>
      <span class="progress_side">Upload Works</span>
    </div>
    <br>
  </mat-card>
</div>
