<mat-card class="main-card">
  <div class="row">
    <div>
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <div>
          <h5><i class="fa fa-eye"></i>Maria Salas</h5>
          <h5><img src="https://www.countryflags.io/be/flat/64.png"><span>Modal</span></h5>
        </div>
      </mat-card>
    </div>
    <br>
    <div>
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <div>
          <h5><i class="fa fa-eye"></i>Maria Salas</h5>
          <h5><img src="https://www.countryflags.io/be/flat/64.png"><span>Modal</span></h5>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <div>
          <h5><i class="fa fa-eye"></i>Maria Salas</h5>
          <h5><img src="https://www.countryflags.io/be/flat/64.png"><span>Modal</span></h5>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <div>
          <h5><i class="fa fa-eye"></i>Maria Salas</h5>
          <h5><img src="https://www.countryflags.io/be/flat/64.png"><span>Modal</span></h5>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <div>
          <h5><i class="fa fa-eye"></i>Maria Salas</h5>
          <h5><img src="https://www.countryflags.io/be/flat/64.png"><span>Modal</span></h5>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <div>
          <h5><i class="fa fa-eye"></i>Maria Salas</h5>
          <h5><img src="https://www.countryflags.io/be/flat/64.png"><span>Modal</span></h5>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <div>
          <h5><i class="fa fa-eye"></i>Maria Salas</h5>
          <h5><img src="https://www.countryflags.io/be/flat/64.png"><span>Modal</span></h5>
        </div>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <div>
          <h5><i class="fa fa-eye"></i>Maria Salas</h5>
          <h5><img src="https://www.countryflags.io/be/flat/64.png"><span>Modal</span></h5>
        </div>
      </mat-card>
    </div>

  </div>

</mat-card>
