<mat-card class="main-card">
  <div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face1.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face11.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face20.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face13.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face17.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face22.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face10.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face20.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <br>
          <img src="../../../../assets/faces/face26.jpg" alt="">
        </div>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face9.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
    <div class="search-item">
      <mat-card>
        <div>
          <img src="../../../../assets/faces/face23.jpg" alt="">
        </div>
        <br>
        <div>
          <h3><i class="fa fa-eye"></i>&nbsp; Maria Salas</h3>
          <h4><img src="https://www.countryflags.io/be/flat/64.png"><span>model</span></h4>
        </div>
      </mat-card>
    </div>
  </div>

</mat-card>
