<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sponsors</mat-card-title>
  </mat-card-header>
  <!---->
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h3>
      <a>Models</a>
    </h3>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <br>
  <!---->
  <img mat-card-image src="../../../../assets/img/contextual_adver.jpg">
  <mat-card-content>
    <h3>
      <a>Models</a>
    </h3>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
