<div id="social_text">
  <mat-card>
    <h2>Add personal connections</h2>
    <hr>
    <p>Choose how you want to communicate with your contacts</p>
    <h2>Choose Social Network</h2>
    <hr>
    <div class="social_icon">
      <img src="../../../../assets/img/vk.png" alt="">
      <img src="../../../../assets/img/facebook.png" alt="">
      <img src="../../../../assets/img/linkedin.png" alt="">
    </div>
    <br>
    <button mat-button id="social_next_button">Next</button>
  </mat-card>
</div>
