<div class="send_message">
  <h4>Message</h4>
  <hr>
  <br>
  <div class="messages">
    <div class="invitation_image">
      <img src="../../../../../assets/avatar/user8-128x128.jpg" alt="">
    </div>
    <div class="invite_comment">
      <h3>
        <span>Arshly Pearson</span> &nbsp;
        <mat-checkbox class="message_check"></mat-checkbox>
      </h3>
      <h5 style="color: darkgray"> &nbsp;
         Model - Singer - Dancer - Face
      </h5>
      <p>
        <img src="https://www.countryflags.io/ve/flat/64.png">
        &nbsp;
        <span>Venezuela, Caracas</span>
      </p>
    </div>
  </div>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Write a message</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field><br><br>
  <div class="button-group">
    <button mat-button id="reset">Cancel</button>
    <button mat-button id="submit">Send</button>
  </div>


</div>
