<div id="invitation">
  <mat-card>
    <div class="invitation_title">
      <h1>Invitations</h1>
      <p (click)="invitation_manage_all()">Manage all</p>
    </div>
    <mat-card-content>
      <div class="invitation_body row">
        <div>
          <img src="../../../../assets/faces/face23.jpg" alt="">
          <div>
            <h2>Amanda Smith &nbsp; <mat-checkbox class="round-check"></mat-checkbox></h2>
            <p>Model - Dancing - Singer</p>
            <h5>
              <img src="https://www.countryflags.io/VE/flat/64.png">
              <span>Caracas, Venezuela</span>
            </h5>
            <h5>1 hour ago</h5>
          </div>
        </div>
        <div class="invitation_button_group">
          <button mat-button class="reject">Reject</button>
          <button mat-button class="accept">Accept</button>
        </div>
      </div>
      <hr>
      <div class="invitation_body row">
        <div>
          <img src="../../../../assets/faces/face6.jpg" alt="">
          <div>
            <h2>Amanda Smith</h2>
            <p>Model - Dancing - Singer</p>
            <h5>
              <img src="https://www.countryflags.io/VE/flat/64.png">
              <span>Caracas, Venezuela</span>
            </h5>
            <h5>1 hour ago</h5>
            <span>Hi John, I am interested in your profile to be part of my photoshoot..</span>
            <br>
            <span class="invitation_reply"><a href="#">Reply</a></span>
          </div>
        </div>
        <div class="invitation_button_group">
          <button mat-button class="reject">Reject</button>
          <button mat-button class="accept">Accept</button>
        </div>
      </div>
      <hr>
      <div class="invitation_body row">
        <div>
          <img src="../../../../assets/avatars/alice.jpg" alt="">
          <div>
            <h2>Amanda Smith</h2>
            <p>Model - Dancing - Singer</p>
            <h5>
              <img src="https://www.countryflags.io/VE/flat/64.png">
              <span>Caracas, Venezuela</span>
            </h5>
            <h5>1 hour ago</h5>
            <span>Hi John, I am interested in your profile to be part of my photoshoot..</span>
            <br>
            <span class="invitation_reply"><a href="#">Reply</a></span>
          </div>
        </div>
        <div class="invitation_button_group">
          <button mat-button class="reject">Reject</button>
          <button mat-button class="accept">Accept</button>
        </div>
      </div>
      <hr>
      <mat-card-footer>
        <span>Show more</span>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>
