<mat-card>
  <div class="row" id="message_title">
    <div class="message-30">
      <h4><span [matMenuTriggerFor]="create_groups">Messaging</span>  <i class="fa fa-ellipsis-h fa-8x" [matMenuTriggerFor]="message_reports"></i></h4>
    </div>
    <mat-menu #create_groups="matMenu" id="create_groups">

    </mat-menu>


    <mat-menu #message_reports="matMenu">
      <button mat-menu-item class="report_button">
        <span><ion-icon name="people-outline"></ion-icon></span>
        <span (click)="create_group()">Create group</span>
      </button>
      <button mat-menu-item class="report_button">
        <span><ion-icon name="folder-open-outline"></ion-icon></span>
        <span>Archives</span>
      </button>
      <button mat-menu-item class="report_button">
        <span><ion-icon name="warning-outline"></ion-icon></span>
        <span>Spam</span>
      </button>
      <button mat-menu-item class="report_button">
        <span><ion-icon name="close-circle-outline"></ion-icon></span>
        <span>Blocked</span>
      </button>
    </mat-menu>

    <div class="message-70">
      <h4>Jomag Herredia Model at Prestige
        <i class="fa fa-ellipsis-h fa-8x" [matMenuTriggerFor]="reports"></i>
      </h4>
      <mat-menu #reports="matMenu">
        <button mat-menu-item class="report_button">
          <span><ion-icon name="remove-circle-outline"></ion-icon></span>
          <span>Settings</span>
        </button>
        <button mat-menu-item class="report_button">
          <span><ion-icon name="warning-outline"></ion-icon></span>
          <span>Mark as Spam</span>
        </button>
        <button mat-menu-item class="report_button">
          <span><ion-icon name="close-circle-outline"></ion-icon></span>
          <span>Block</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="row">
    <div class="message-30" id="chatting_list">
      <mat-form-field class="example-full-width">
        <mat-label><ion-icon name="search-outline"></ion-icon>Search messages</mat-label>
        <input matInput placeholder="Search messages">
      </mat-form-field>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <table mat-table [dataSource]="message_all" id="message_list">
          <ng-container matColumnDef="message">
            <th mat-header-cell *matHeaderCellDef> <h2>Message</h2> </th>
            <td mat-cell *matCellDef="let elements" class="chatting_list"  >
              <div class="request">
                <div>
                  <img src="../../assets/faces/{{elements.avatar}}" alt="">
                  <mat-checkbox class="user_status"></mat-checkbox>
                </div>
                <div class="user_name">
                  <h3>{{elements.name}}</h3>
                  <span>{{elements.message}}</span>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="days">
            <th mat-header-cell *matHeaderCellDef> <h2>Days</h2> </th>
            <td mat-cell *matCellDef="let elements">
              {{elements.days}}
            </td>
          </ng-container>
          <tr mat-row *matRowDef="let row; columns: message_column;"></tr>
        </table>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="message-70">
      <div class="message_show">

      </div>
      <div class="message_input">
        <mat-form-field class="example-full-width">
          <mat-label>Leave a message</mat-label>
          <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
        <button mat-button id="message_post">Post</button>
      </div>
    </div>
  </div>
</mat-card>
