<div id="main">
  <div class="mat-main-content">
    <div class="row">
      <div class="mat-side-bar">
        <app-invitation-model></app-invitation-model>
        <br>
        <app-advanced-search></app-advanced-search>
      </div>
      <br>
      <div class="main-content">
        <app-invitation-main></app-invitation-main>
        <br>
        <app-invitation-people-group></app-invitation-people-group>
      </div>
    </div>
  </div>
  <br>
  <div class="mat-advertise">
    <app-invitation-social-link></app-invitation-social-link>
    <br>
    <app-invitation-advertise></app-invitation-advertise>
  </div>
</div>

