@media (min-width: 900px) {
  .mat-main-content {
    width: 75%;
    margin: 0 5px 0 10px
  }
  .mat-advertise {
    width: 25%;
    margin: 0 0 0 5px
  }
}

@media (max-width: 900px) {
  .mat-main-content {
    width: 100%;
    margin: 0 5px 0 10px
  }
  .mat-advertise {
    width: 100%;
    margin: 0 0 0 5px
  }
}
.mat-side-bar {
  width: 25%;
  margin: 0 10px 0 10px
}
.main-content {
  width: 75%;
  margin: 0 10px 0 10px
}
