<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-form-field class="example-full-width">
      <mat-label>Write something</mat-label>
      <input matInput placeholder="Ex. Pizza">
    </mat-form-field>
  </mat-card-header>
  <br>
  <hr>
  <mat-card-content>
    <div class="photo_upload">
      <button type="button" >
        <i class="fa fa fa-camera fa-lg"></i>
        <span>photo/video</span>
      </button>
      <span id="post"><button mat-raised-button>post</button></span>
    </div>
  </mat-card-content>
</mat-card>
