.example-header-image {
  background-image: url('../../../../assets/avatar/avatar.jpg');
  background-size: cover;
}
mat-card-header>div {
  width: 60px;
  height: 60px;
}
mat-card-header>mat-form-field {
  width: 100%;
}
.photo_upload>button {
  background: white;
  height: 27.4px;
  border-radius: 7%;
  border: 1px solid;
}
.photo_upload>button>.fa {
  margin-left: 3px;
  margin-right: 10px;
  margin-top: 3px;
}
#post {
  float: right;
}
#post>button {
  background: #1181C3;
  color: white;
}
