<div id="talent_category">
  <h3>Sign up As Talent</h3>
  <div id="category_pre_tag">
    <h3 id="category_title">Cual es tu actividad principal?</h3>
    <h3>Selecciona una de las siguientes. Puedes</h3>
    <h3>especializar tu perfil mas adelante</h3>
    <h3>Si creas tu perfil de Fan, solo podras ver contenido</h3>
    <h3>y commentar en el.</h3>
  </div>
  <div id="category_checkbox_group">
    <div>
      <h4>Model</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Actor</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Singer</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Dancer</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Fashion Stylist</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Hair Stylist</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Makeup Artist</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Photographer</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Fashion Designer</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Director</h4>
      <mat-checkbox></mat-checkbox>
    </div>
    <div>
      <h4>Art Director</h4>
      <mat-checkbox></mat-checkbox>
    </div>
  </div>
  <button mat-button (click)="category_done()">Done</button>
</div>
