<div id="talent_category">
  <h3>Sign up As Talent</h3>
  <div id="category_pre_tag">
    <h3 id="category_title">Cual es tu actividad principal?</h3>
    <h3>Selecciona una de las siguientes. Puedes</h3>
    <h3>especializar tu perfil mas adelante</h3>
    <h3>Si creas tu perfil de Fan, solo podras ver contenido</h3>
    <h3>y commentar en el.</h3>
  </div>
  <div id="category_checkbox_group">
    <div>
      <h4>Model</h4>
      <mat-checkbox>I have read and accept the Terms and Conditions</mat-checkbox>
    </div>
  </div>
</div>
