#talent_category {
  text-align: center;
  width: 30%;
  margin: auto;
  padding-top: 10px;
}
#category_checkbox_group>div {
  display: flex;
}
#talent_category>h3 {
  color: #1181C3;
  margin: 7px;
}
#category_pre_tag {
  background: #e0e0e0;
  padding: 20px
}
#category_title {
  color: #1181C3;
}
