<div class="row">
  <div class="main-content">
    <mat-card>
      <h1>Manage Invitations</h1>
      <mat-tab-group>
        <mat-tab label="Received">
          <br>
          <button mat-button id="all_invitations">All Invitations</button>
          <hr>

          <table mat-table [dataSource]="dataSource" id="all_invitations_table">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox class="square_check" (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">&nbsp; Select 1-9 of 9
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox class="square_check" (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> <h2>Connection requests</h2> </th>
              <td mat-cell *matCellDef="let element">
                <div class="invitation_request">
                  <img src="../../assets/faces/{{element.avatar}}" alt="">
                  <div>
                    <h3 >{{element.name}}  </h3>
                    <h4>{{element.job}}</h4>
                    <h5>
                      <img src="https://www.countryflags.io/{{element.country}}/flat/64.png">
                      <span>{{element.country_name}}</span>
                    </h5>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="job">
              <th mat-header-cell *matHeaderCellDef> <h2>Find Connection</h2> </th>
              <td mat-cell *matCellDef="let element"> <button mat-button class="reject">Reject</button> </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="country">
              <th mat-header-cell *matHeaderCellDef> <h2>Manage all</h2> </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="accept" style="border: 1px solid #1181C3!important;">Accept</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
        <mat-tab label="Send">

        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
  <div class="mat-advertise">
    <app-invitation-social-link></app-invitation-social-link>
    <br>
    <app-invitation-advertise></app-invitation-advertise>
  </div>
</div>


