@import '~@angular/material/grid-list/_grid-list-theme.scss';
.toolbar {
  position: absolute;
  height: 67px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-weight: 600;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.07);

}
.container>img {
  height: 39px;
  margin-top: 16px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {


  .card.highlight-card span {
    margin-left: 72px;
  }
}

.container {
  width: 80%;
  margin: auto;
}

.search {
  position: relative;
  display: flex;
}

.searchTerm {
  border: 2px solid #919191;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 34px;
  border: 2px solid #896091;
  background: #ffffff;
  text-align: center;
  color: #1045ff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

#toolbox {
  float: right;
}
#toolbox>ul {
  display: inline-flex;
}

.navigation-items {
  list-style: none;
}

.navigation-items mat-icon {
  width: 30px;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
  color: #919191;
  filter: invert(100%);
}
li>a>img {
  height: 33px;
  border-radius: 50%;
  margin-top: 3px;
}

a button mat-icon {
  line-height: 0;
}
