@import '~@angular/material/grid-list/_grid-list-theme.scss';
.toolbar {
  position: fixed;
  height: 67px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-weight: 600;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.07);
}
.container>img {
  height: 39px;
  margin-top: 16px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card.highlight-card span {
    margin-left: 72px;
  }
}

@media (min-width: 1300px) {
  .container {
    width: 80%;
    margin: auto;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 90%;
    margin: auto;
  }
}


@media (max-width: 999px) {
  .container {
    width: 100%;
    margin: auto;
  }
}

.search {
  position: relative;
  display: flex;
  width: 50%!important;
}

.searchTerm {
  border: 2px solid #919191;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 34px;
  border: 2px solid #896091;
  background: #ffffff;
  text-align: center;
  color: #1045ff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

#toolbox {
  float: right;
}
#toolbox>ul {
  display: inline-flex;
}

.navigation-items {
  list-style: none;
}

.navigation-items .fa {
  margin-right: 30px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #919191;
  filter: invert(100%);
}
li>a>img {
  height: 33px;
  border-radius: 50%;
  margin-top: 3px;
}

a button mat-icon {
  line-height: 0;
}

mat-form-field {
  height: 68px;
  width: 300px;
}
.support>.fa {
  font-size: 18px;
  margin-right: 10px;
}

::ng-deep .users {
  width: 500px;
}
::ng-deep .mat-menu-panel {
  padding: 0 10px!important;
  width: 100%!important;
}
#mat-menu-panel-0 { max-width: 500px!important; width: 500px !important;
  height: 650px;}
#mat-menu-panel-1 { max-width: 485px!important; width: 485px !important;
  height: 540px;}
table {
  width: 480px;
}
.mat-elevation-z8 {
  box-shadow: none!important;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  font-size: 24px;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}
th.mat-header-cell {
  text-align: center!important;
}
.accept {
  background: white;
  color: #1181C3;
  border: 1px solid #1181C3;
  height: 34px;
  margin-top: 8px;
}
.mat-button {
  border: 1px solid #1181C3!important;
}
.reject {
  border: none!important;
}
.invite_nav>.request>img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: left;
}
.notification_nav>.request>img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
}
td {
  padding: 10px 0 10px  0!important;
}
h3, h4, h5 {
     margin-top: 0;
     margin-bottom: 0;
   }
.avatar_info>div>div {
  margin-left: 20px;
}
h5  {
  display: flex;
}
h5 img {
  height: 20px;
  width: 25px;
}
h5 span {
  margin: 5px 0 0 10px
}
.request {
  float: left;
  display: inline-flex;
  margin-left: 20px;
}
.request div {
  float: left;
  text-align: left;
  margin-left: 10px;
}
.see_all {
  text-align: center;
  color: #1181C3;
  cursor: pointer;
}
.request h3 {
  cursor: pointer;
}
th>h2 {
  cursor: pointer;
}
.search mat-form-field .mat-form-field-outline {
  height: 37px;
  margin-top: 12px;
}
#notification_top {
  text-align: right;
  margin-right: 20px;
}
.day_check .mat-checkbox-background {
  background: darkgray;
  border-radius: 50%;
}
.day_check .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #1181C3;
}
.day_check .mat-checkbox-frame {
  border-radius: 50%!important;
}
.mat-form-field-wrapper .ng-tns-c105-0 {

}
