<div class="toolbar" role="banner">
   <div class="container" style="display: inline-block;">
     <img src="../../assets/img/logo.svg" alt="">
     <div class="wrap">
       <div class="search">
         <!-- Small outline input -->
         <mat-form-field appearance="outline">
           <mat-label>Search</mat-label>
           <input matInput placeholder="Search">
           <mat-icon matSuffix>search</mat-icon>
         </mat-form-field>
       </div>
     </div>
     <div id="toolbox">
       <ul class="navigation-items">
         <li>
           <a><i class="fa fa-music"></i></a>
         </li>
         <li>
           <a><i class="fa fa-briefcase"></i></a>
         </li>
         <li>
           <a>
             <i class="fa fa-user-md" ></i>
           </a>
         </li>
         <li>
           <a><i class="fa fa-comment-o"></i></a>
         </li>
         <li>
           <a><i class="fa fa-bell-o"></i></a>
         </li>
         <li>
           <a>
             <img src="../../assets/avatar/avatar.jpg" alt="">
             <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
               <mat-icon style="color: gray;">arrow_drop_down</mat-icon>
             </button>
             <mat-menu #menu="matMenu" xPosition="before">
               <button mat-menu-item class="support">
                 <i class="fa fa-files-o"></i>
                 <span>Create Business Page</span>
               </button>
               <button mat-menu-item class="support">
                 <i class="fa fa-exchange"></i>
                 <span>Exchange role to <b>Latin Angels</b></span>
               </button>
               <button mat-menu-item class="support" >
                 <i class="fa fa-cog"></i>
                 <span>Settings</span>
               </button>
               <button mat-menu-item class="support" (click)="Support()">
                 <i class="fa fa-user-secret"></i>
                 <span>Support</span>
               </button>
               <button mat-menu-item class="support">
                 <i class="fa fa-sign-out"></i>
                 <span>Log out</span>
               </button>
             </mat-menu>
           </a>

         </li>
       </ul>
     </div>
   </div>
</div>
<br><br><br><br>
<div class="container">
    <router-outlet>

    </router-outlet>
</div>


